<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Find my password for Martini Pool</title>
</head>
<body>
<b>Find my password for Martini Pool</b>
<br>
<p>Click the verification link below to find your password.</p>
<br>
<p th:text="${url}"><a href="${url}">${url}</a></p>
<br>
<p>This link is valid for 24hours.</p>
<br>
<br>
<br>
<br>
<br>어
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>This Email is for outgoing only.</p>
<p>If you have any questions about the contents of the email, please contact us at </p>
<p><a href="mailto:info@aicfo.finance">info@aicfo.finance.</a></p>
</body>
</html>