<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Temporary password for Crypto BROS member</title>
</head>
<body>
<b>Temporary password for Crypto BROS member</b>
<br>
<br>
<p>Log in to Martini Pool by Email address and password below.</p>
<p>For your security, change your password after your first log in . </p>
<br>
<ul>
    <li>Email address : <span th:text="${email}"></span> </li>
    <li>Temporary password : <span th:text="${password}"></span> </li>
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>This Email is for outgoing only.</p>
<p>If you have any questions about the contents of the email, please contact us at </p>
<p><a href="mailto:info@aicfo.finance">info@aicfo.finance.</a></p>
</body>
</html>