<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Verification link for Martini Pool Sign up</title>
</head>
<body>
<b>Verification link for Martini Pool Sign up </b>
<br>
<p>Click the verification link below to complete your Sign up process.</p>
<br>
<p th:text="${url}"><a href="${url}">마티니풀 이메일 인증 링크 : ${url}</a></p>
<br>
<p>This link is valid for 24hours.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>This Email is for outgoing only.</p>
<p>If you have any questions about the contents of the email, please contact us at </p>
<p><a href="mailto:info@aicfo.finance">info@aicfo.finance.</a></p>
</body>
</html>