<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Verification code for Martini Pool External withdraw</title>
</head>
<body>
<b>Verification code for Martini Pool External withdraw</b>
<br>
<p>Please confirm the verification code below and input them correctly to complete your external withdraw process.</p>
<br>
<p style="font-size:25px;color:blue;"th:text="${code}"></a></p>
<br>
<p>This code is valid for 24 hours.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>This Email is for outgoing only.</p>
<p>If you have any questions about the contents of the email, please contact us at </p>
<p><a href="mailto:info@aicfo.finance">info@aicfo.finance.</a></p>
</body>
</html>