<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labshigh.aicfo.internal.api.companyPortfolio.mapper.CompanyFinanceMapper">

  <insert id="insert" keyProperty="uid" parameterType="com.labshigh.aicfo.internal.api.companyPortfolio.dao.CompanyFinanceDao" useGeneratedKeys="true">
    INSERT INTO company_finance(year, capital, sales, operating_profit, company_portfolio_uid)
    VALUES (#{year}, #{capital}, #{sales}, #{operatingProfit}, #{companyPortfolioUid})
  </insert>

  <update id="update">
    UPDATE company_finance
    SET year = #{year},
        capital = #{capital},
        sales = #{sales},
        operating_profit = #{operatingProfit}
    WHERE uid = #{uid} AND company_portfolio_uid = #{companyPortfolioUid}
  </update>

  <update id="delete">
    UPDATE company_finance
    SET deleted_flag = true
    WHERE uid = #{uid} AND company_portfolio_uid = #{companyPortfolioUid}
  </update>

  <delete id="deleteByCompanyPortfolioUid">
    DELETE FROM company_finance
    WHERE company_portfolio_uid = #{companyPortfolioUid}
  </delete>

  <select id="list" resultType="com.labshigh.aicfo.internal.api.companyPortfolio.dao.CompanyFinanceDao" >
    SELECT uid,
           created_at,
           updated_at,
           deleted_flag,
           used_flag,
           year,
           capital,
           sales,
           operating_profit
    FROM company_finance
    WHERE deleted_flag = false
            AND used_flag = true
            AND company_portfolio_uid = #{companyPortfolioUid}
  </select>


</mapper>
