<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labshigh.aicfo.internal.api.companyPortfolio.mapper.CompanyPortfolioMapper">

  <insert id="insert" keyProperty="uid" parameterType="com.labshigh.aicfo.internal.api.companyPortfolio.dao.CompanyPortfolioDao" useGeneratedKeys="true">
    INSERT INTO company_portfolio(company_name, phone_number, category, address, ceo_name, foundation_at, employee_count, content, public_flag, member_uid)
    VALUES (#{companyName}, #{phoneNumber}, #{category}, #{address}, #{ceoName}, #{foundationAt}, #{employeeCount}, #{content}, #{publicFlag}, #{memberUid})
  </insert>

  <update id="delete">
    UPDATE company_portfolio
    SET deleted_flag = true
    WHERE uid = #{uid} AND member_uid = #{memberUid}
  </update>

  <update id="update">
    UPDATE company_portfolio
    SET company_name = #{companyName},
        phone_number = #{phoneNumber},
        category = #{category},
        address = #{address},
        ceo_name = #{ceoName},
        foundation_at = #{foundationAt},
        employee_count = #{employeeCount},
        content = #{content},
        public_flag = #{publicFlag}
    WHERE uid = #{uid} AND member_uid = #{memberUid}
  </update>

  <select id="detail" resultType="com.labshigh.aicfo.internal.api.companyPortfolio.dao.CompanyPortfolioDao" >
    SELECT uid,
           created_at,
           updated_at,
           deleted_flag,
           used_flag,
           company_name,
           phone_number,
           category,
           address,
           ceo_name,
           foundation_at,
           employee_count,
           content,
           public_flag,
           member_uid
    FROM company_portfolio
    WHERE deleted_flag = false
      AND used_flag = true
      AND member_uid = #{memberUid}
  </select>


</mapper>
