<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labshigh.aicfo.internal.api.marketItem.mapper.ItemBuySettlementMapper">
  <insert id="insert" keyProperty="uid" parameterType="com.labshigh.aicfo.internal.api.marketItem.dao.ItemBuySettlementDao" useGeneratedKeys="true">
    INSERT INTO item_buy_settlement (type, price, member_uid, item_uid , user_id)
    VALUES (#{type}, #{price}, #{memberUid}, #{itemUid}, #{userId})
  </insert>

  <select id="list" resultType="com.labshigh.aicfo.internal.api.marketItem.dao.ItemBuySettlementDao">
    SELECT ibs.uid,
    ibs.created_at,
    ibs.updated_at,
    ibs.deleted_flag,
    ibs.used_flag,
    ibs.type,
    ibs.price,
    ibs.withdrawal_approval_flag,
    ibs.withdrawal_completed_flag,
    ibs.item_uid,
    ibs.member_uid,
    ibs.user_id
    FROM item_buy_settlement ibs LEFT OUTER JOIN item i ON ibs.item_uid = i.uid AND i.used_flag = true AND i.deleted_flag = false

    WHERE ibs.used_flag = true AND
        ibs.deleted_flag = false
      <if test="itemUid > 0">
        AND ibs.item_uid = #{itemUid}
      </if>
      <if test="userId != null and userId != '' ">
        AND ibs.user_id = #{userId}
      </if>
      <if test="uid > 0"> <!-- 출금 신청 취소시 유효성 검사 위해 조건 사용 -->
          AND ibs.uid = #{uid}
          AND i.withdrawal_request_end_at > NOW()
      </if>

    ORDER BY ibs.uid DESC

  </select>

  <update id="updateWithdrawalApprovalFlag">
    UPDATE item_buy_settlement
    SET withdrawal_approval_flag = true,
        withdrawal_approval_at = NOW()
    WHERE used_flag = true AND
          deleted_flag = false AND
          uid = #{uid} AND
          type = 'WITHDRAWAL'
  </update>

  <update id="deleteItemBuySettlementByWithdrawal">
    UPDATE item_buy_settlement
    SET     deleted_flag = true
    WHERE   used_flag = true AND
            deleted_flag = false AND
            uid = #{uid} AND
            type = 'WITHDRAWAL'
  </update>



</mapper>
