<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labshigh.aicfo.internal.api.totp.mapper.MemberTotpMapper">
  <insert id="insert" parameterType="com.labshigh.aicfo.internal.api.totp.dao.MemberTotpDAO" useGeneratedKeys="true" keyProperty="uid">
    INSERT INTO member_totp (secret, recovery_codes, member_uid, used_flag) VALUES (#{secret}, #{recoveryCodes}, #{memberUid}, #{usedFlag})
    ON DUPLICATE KEY UPDATE deleted_flag = false, used_flag = #{usedFlag}, secret = #{secret}, recovery_codes = #{recoveryCodes}
  </insert>

  <update id="activate" parameterType="com.labshigh.aicfo.internal.api.totp.dao.MemberTotpDAO">
    UPDATE member_totp SET used_flag = true
    WHERE deleted_flag = false AND
          used_flag = false AND
          member_uid = #{memberUid}
  </update>

  <update id="delete" parameterType="com.labshigh.aicfo.internal.api.totp.dao.MemberTotpDAO">
    UPDATE member_totp SET deleted_flag = true
    WHERE deleted_flag = false AND
          member_uid = #{memberUid}
  </update>

  <select id="detail" resultType="com.labshigh.aicfo.internal.api.totp.dao.MemberTotpDAO">
    SELECT mt.uid,
           mt.created_at,
           mt.updated_at,
           mt.deleted_flag,
           mt.used_flag,
           mt.secret,
           mt.recovery_codes,
           mt.member_uid,
           m.email
    FROM member_totp AS mt
        LEFT JOIN member AS m ON m.deleted_flag = false AND m.used_flag = true AND m.uid = mt.member_uid
    WHERE mt.deleted_flag = false AND
          mt.used_flag = #{usedFlag} AND
          mt.member_uid = #{memberUid}
  </select>
</mapper>