<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labshigh.aicfo.internal.api.transaction.mapper.TransactionEventMapper">

  <insert id="insert" keyProperty="uid" parameterType="com.labshigh.aicfo.internal.api.transaction.dao.TransactionEventDao" useGeneratedKeys="true">
    INSERT INTO `aicfo`.`transaction_event`
    (
    `user_id`,
    `token_id`,
    `token_symbol`,
    `amount`,
    `from_address`,
    `from_user_id`,
    `to_address`,
    `to_user_id`,
    `transaction_type`,
    `transaction_status`,
    `tx_hash`,
    `member_uid`)
    VALUES
    (
      #{userId},
      #{tokenId},
      #{tokenSymbol},
      #{amount},
      #{fromAddress},
      #{fromUserId},
      #{toAddress},
      #{toUserId},
      #{transactionType},
      #{transactionStatus},
      #{txHash},
      #{memberUid});
  </insert>
</mapper>
