<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labshigh.aicfo.internal.api.transaction.mapper.TransactionHistoryMapper">

  <insert id="insert" keyProperty="uid" parameterType="com.labshigh.aicfo.internal.api.transaction.dao.TransactionHistoryDao" useGeneratedKeys="true">
    INSERT INTO transaction_history(price,unit, member_uid, transaction_kind_uid, transaction_uid, user_id, tx_hash)
    VALUES (#{price}, #{unit}, #{memberUid}, #{transactionKindUid}, #{transactionUid}, #{userId}, #{txHash})
  </insert>

  <select id="list" resultType="com.labshigh.aicfo.internal.api.transaction.dao.TransactionHistoryDao">
    SELECT th.uid,
           th.created_at,
           th.updated_at,
           th.deleted_flag,
           th.used_flag,
           th.price,
           th.unit,
           th.member_uid,
           th.transaction_kind_uid,
           cc.name AS transaction_kind_name,
           th.transaction_uid,
           th.user_id,
           th.tx_hash
    FROM transaction_history th LEFT OUTER JOIN common_code cc on th.transaction_kind_uid = cc.uid
    WHERE th.deleted_flag = false AND
          th.used_flag = true AND
          DATE_FORMAT(th.created_at, '%Y-%m-%d') BETWEEN #{startAt} AND #{endAt} AND
          th.member_uid = #{memberUid} AND
          th.user_id = #{userId}
          <if test="transactionKindUid != null and transactionKindUid != 12">
            AND th.transaction_kind_uid = #{transactionKindUid}
          </if>
    ORDER BY th.uid DESC
    LIMIT #{offsetAndRowCount.offset}, #{offsetAndRowCount.rowCount}

</select>

  <select id="count" resultType="int">
    SELECT COUNT(*)
    FROM transaction_history th LEFT OUTER JOIN common_code cc on th.transaction_kind_uid = cc.uid
    WHERE th.deleted_flag = false AND
    th.used_flag = true AND
    DATE_FORMAT(th.created_at, '%Y-%m-%d') BETWEEN #{startAt} AND #{endAt}  AND
    th.member_uid = #{memberUid}
    <if test="transactionKindUid != null and transactionKindUid != 12">
      AND th.transaction_kind_uid = #{transactionKindUid}
    </if>
  </select>

</mapper>
